bin
bin/*
deploy
deploy/*
target/lib
target/lib/*
target/classes
target/classes/*
war/OpenSettlers/*
war/Documentation/*
war/WEB-INF/lib/*
war/WEB-INF/classes/*
war/soc.common.OSCommon.JUnit/*
.gwt/*
.settings
/settings/*
.svn
.svn/*
*.log
