/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.player-widget-yellow {
  background-color: #FFFF99;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
}
.player-widget-white {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: silver;
}
.player-widget-red {
  background-color: pink;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
.player-widget-green {
  background-color: lightgreen;
  border-style: solid;
  border-width: 5px;
  border-color: darkgreen;
}
.player-widget-blue {
  background-color: lightblue;
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
}
.chat-panel{
  background-color: lightblue; 
  height: 200px;
}
.label-title {
  font-size: 20px;
  color: DarkBlue;
  font-weight: bolder;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:10px;
}
.chathistorydebug{
  background-color: red;
}
.statusPanel{
	background-color: black;
	color: White;
	font-weight: bolder;
	font-size: 1.5em;
}
.diceLabel{
	font-weight: bolder;
	font-size: 2.5em;
	width: 3em;
	height: 3em;
}
.playerStatusWidget{
	width: 3em;
	height: 3em;
}