<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
    <!-- Listener for shutting down the comet processor when the ServletContext is destroyed -->
  <listener>
    <listener-class>net.zschech.gwt.comet.server.CometServletContextListener</listener-class>
  </listener>
  
  <!-- Listener for invalidating CometSessions when HTTPSessions are invalidated -->
  <listener>
    <listener-class>net.zschech.gwt.comet.server.CometHttpSessionListener</listener-class>
  </listener>
 <!-- the RPC service called by the client -->
  <servlet>
    <servlet-name>greetService</servlet-name>
    <servlet-class>soc.gwt.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <!-- the comet servlet for streaming messages to the client -->
  <servlet>
    <servlet-name>chatComet</servlet-name>
    <servlet-class>net.zschech.gwt.comet.server.CometServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetService</servlet-name>
    <url-pattern>/OpenSettlers/chat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>chatComet</servlet-name>
    <url-pattern>/OpenSettlers/comet</url-pattern>
  </servlet-mapping>
-</web-app>